<%- include('includes/head.ejs') %>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="./Stylesheets/error.css" rel="stylesheet"/> 
        
    <div class="container">
        <div class="error-icon">
        <i class="fas fa-exclamation-circle"></i>
        </div>
        <h1>Error: Page Not Found</h1>
        <p>Sorry, the plant you're looking for doesn't exist OR requires premium API access.</p>
        <p class="back-to-login">Go back to <a href="/">Home</a></p>
    </div>

<%- include('includes/end.ejs') %>
