<%- include('includes/head.ejs') %>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"rel="stylesheet" > 
    <link href="./Stylesheets/main.css" rel="stylesheet"/>

   <div class="container">
            <h1>Welcome to the Plant Care Guides</h1>
            <form method="post" action="/">
            <label for="plantEntered">Enter a plant to search (e.g., 'Tomato', 'European Silver Fir')</label>
            <input type="text" name="plantEntered" id="plantEntered">
            <p class="text-muted">NOTE: Some plant information ('Mango') may be locked behind the Premium API package.</p>
            <button type="submit">Submit</button>
            </form>
    </div>
    
<%- include('includes/end.ejs') %>




