<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page One</title>
</head>
<body>
    <h1>Welcome to Page One</h1>
   <form method="post" action="/">
        Enter a plant to search (e.g., 'tomato', 'European Silver Fir')<input type="text" name="plantEntered" id="plantEntered">
        <br>NOTE: Some plant information such as "Mango" may be locked behind the Premium API package. The free verison I am using has access to 3000 plant guides. The plant will still be added to my database, however no data will be available</br>
    <button type="submit">Submit</button>
   </form>
</body>
</html>