<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page One</title>
</head>
<body>
    <h1>Welcome to Page One</h1>
   <form method="post" action="/">
    Enter a plant to search (e.g., 'tomato')<input type="text" name="plantEntered" id="plantEntered">
    <button type="submit">Submit</button>
   </form>
</body>
</html>